.modal-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.confirm-modal-button {
    width: 23.6rem;
    height: 4.6rem;

    background: var(--primary-color);
    border-radius: 0.5rem;

    margin-top: 4.8rem;
}