.home-container {
    background: linear-gradient(90.23deg, #05EDE3 0.02%, #645FFB 99.63%);
    width: 100vw;
    min-height: 100vh;
    overflow: scroll;
}

main {
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    background-color: var(--white);
    width: 100%;
    min-height: 90vh;

    display: flex;
    flex-direction: row;
    justify-content: center;

    gap: 40px;
    padding-top: 55px;
}

.right-side {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 56px;
    gap: 16px;
}

.black {
    color: #000000;
}

.purple {
    color: var(--primary-color)
}

.orange {
    color: var(--secondary-color)
}

.table-row img {
    width: 24px;
    height: 24px;
}

.icons {
    gap: 16px;
}