.home-container {
    background: linear-gradient(90.23deg, #05EDE3 0.02%, #645FFB 99.63%);
    width: 100vw;
    min-height: 100vh;
    overflow: scroll;
}

main {
    border-top-left-radius: 6rem;
    border-top-right-radius: 6rem;
    background-color: var(--white);
    width: 100%;
    min-height: 90vh;

    display: flex;
    flex-direction: row;
    justify-content: center;

    gap: 4rem;
    padding-top: 5.5rem;
}

.resume-and-add-button {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 5.6rem;
    gap: 1.6rem;
}

.resume-button {
    display: none;
}

@media (max-width:1268px) {
    main {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: auto;
    }

    .resume-and-add-button {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;

        padding-top: 2rem;
    }

    .resume-info {
        display: none
    }

    .resume-button {
        display: block;
    }
}

.function-buttons {
    display: flex;
    flex-direction: row;
}

/* @media (max-width:1268px) {
    main {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: auto;
    }

    .resume-and-add-button {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;

        padding-top: 2rem;
    }

    .resume-info {
        display: none
    }
} */