@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

.filter {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
}

.filter-button {
    width: 80px;
    height: 30px;
    background: var(--light-gray);
    box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.filter-button span {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: center;
    color: var(--black);
}

.filter-img {
    width: 14px;
    height: 14px;
}

.category-container {
    width: 959px;
    height: 205px;

    background: var(--light-gray);
    box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.1);
    border-radius: 10px;

    padding-top: 32px;
    padding-left: 36px;
    padding-bottom: 13px;
}

.category-container h6 {
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;

    color: #B9B9B9;
    margin-bottom: 20px;
}

.category-cards {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 90px;
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 25px;
}

.clean-filter {
    background: var(--light-gray);
    box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    color: var(--black);
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;

    width: 98px;
    height: 30px;
}

.apply-filter {
    background: var(--primary-color);
    box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    color: var(--white);
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;

    width: 98px;
    height: 30px;
}