@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

.filter {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2.5rem;
}

.filter-button {
    width: 8.0rem;
    height: 3.0rem;
    background: var(--light-gray);
    box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.filter-button span {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 1.4rem;
    display: flex;
    align-items: center;
    text-align: center;
    color: var(--black);
}

.filter-img {
    width: 1.4rem;
    height: 1.4rem;
}