@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

.category-container {
    /* max-width: 95.9rem; */
    max-width: 100%;
    /* min-height: 20.5rem; */

    background: var(--light-gray);
    box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.1);
    border-radius: 10px;

    padding-top: 3.2rem;
    padding-left: 2rem;
    padding-bottom: 1.3rem;
}

.category-container h6 {
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.4rem;

    color: #B9B9B9;
    margin-bottom: 2.0rem;
}

.category-cards {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 9.0rem;
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 2.5rem;
}

.clean-filter {
    background: var(--light-gray);
    box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    color: var(--black);
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 1.4rem;

    width: 9.8rem;
    height: 3.0rem;
}

.apply-filter {
    background: var(--primary-color);
    box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    color: var(--white);
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 1.4rem;

    width: 9.8rem;
    height: 3.0rem;
}