.table {
    margin-top: 6.1rem;
    max-width: 100%;
    overflow: auto;
}

.table-header {
    display: flex;
    justify-content: space-around;
    align-items: center;

    min-width: 964px;
    height: 5.8rem;

    background: var(--light-gray);
    box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.table-header span {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 1.7rem;

    color: #000000;
}

/* .table-header div {
    display: flex;
    align-items: center;

} */

.triangle-img {
    width: 1.5rem;
    height: 8rem;
}

.description {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.7rem;

    color: #000000;
}

.table-row-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.table-row-date {
    width: 13%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
}

.day-of-week {
    width: 13%;
}

.table-row-description {
    width: 27%;
}

.table-row-category {
    width: 20%;
}

.table-row-value {
    width: 14%;
}

.icons {
    width: 13%;
}

.table-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;

    min-width: 96.4rem;
    height: 5.8rem;

    background: var(--light-gray);
    box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

/* @media (max-width:998px) {

    .table {
        overflow-x: scroll;
    }
} */