@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 1.6rem;
}

:root {
  --primary-color: #7978D9;
  --darkest-gray: #2F2F2F;
  --dark-gray: #484848;
  --medium-gray: #555555;
  --light-gray: #FAFAFA;
  --medium-light-gray: #EAEAEA;
  --secondary-color: #FA8C10;
  --light-blue: #3A9FF1;
  --light-red: #FF576B;
  --white: #FFFFFF;
  --black: #000000;

  min-height: 100vh;
}

h1,
h2,
h3,
h4 {
  font-family: 'Rubik', sans-serif;
}

h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 5.2rem;
  line-height: 6.2rem;
  color: var(--white);
}

h2 {
  font-style: normal;
  font-weight: 400;
  font-size: 2.8rem;
  line-height: 3.3rem;
  color: var(--white);
}

h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 2.8rem;
  line-height: 3.3rem;
  color: var(--primary-color);
}

h4 {
  font-style: normal;
  font-weight: 700;
  font-size: 3.6rem;
  line-height: 4.3rem;
  color: var(--white);
}

button {
  all: unset;
  box-sizing: border-box;
  color: var(--white);
  background-color: var(--primary-color);
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.7rem;
  border-radius: 5px;
}