.card {
    width: 8.0rem;
    height: 2.0rem;


    background: #FAFAFA;
    box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.1);
    border-radius: 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1.0rem;
    padding-right: 1.0rem;
}

.card span {
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.0rem;
    line-height: 1.2rem;
    color: #000000;
}

.selected {
    width: 8.0rem;
    height: 2.0rem;

    background: var(--primary-color);
    box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}