.table-row {
    display: flex;
    /* justify-content: space-around;
    align-items: center; */
    border-bottom: 1px solid #E0E0E0;

    min-width: 964px;
    height: 5.8rem;
}

.bold {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 1.7rem;
}

.description {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.7rem;

    color: #000000;
}

.table-row-date {
    width: 13%;
}

.day-of-week {
    width: 13%;
}

.table-row-description {
    width: 27%;
}

.table-row-category {
    width: 20%;
}

.table-row-value {
    width: 14%;
}

.icons {
    width: 13%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}